*
!/.gitignore

!/.github/
!/.github/workflows/
!/.github/workflows/arduino.yml

!/README.md

!/makefile
!/config.mk.example

!/sender/
!/sender/sender.ino
!/receiver/
!/receiver/receiver.ino
!/hammer/
!/hammer/hammer.ino
!/hammer2/
!/hammer2/hammer2.ino
