SENDER   := .port.properties.serialNumber == "SERIAL_NUMBER"
RECEIVER := .port.properties.serialNumber == "SERIAL_NUMBER" or .port.properties.pid == "0x003e"
HAMMER   := .port.properties.serialNumber == "SERIAL_NUMBER"
