SENDER_ID   := .port.properties.serialNumber == "SERIAL_NUMBER"
RECEIVER_ID := .port.properties.serialNumber == "SERIAL_NUMBER" or .port.properties.pid == "0x003e"
HAMMER_ID   := .port.properties.serialNumber == "SERIAL_NUMBER"
